body,
div,
form,
input,
select,
textarea,
label {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto-Regular, Arial, sans-serif;
    font-size: 1.8rem;
    color: #F4F4F4;
    line-height: 1.4;
    background-color: #1A1D21;
    text-align: center;
}

#box {
    margin: 5px auto;
    display: block;
    width: 600px;
}
button {
    display: block;
    margin: 5px auto;
    width: 210px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4D61FC;
    font-size: 16px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: Roboto-Regular;
}
a {

    color: #f4f4f4;
    font-size: 1.6rem;
    cursor: pointer;
}
