/*TODO #4
First BP  985 × 856 

TODO #5*/
html, body {
    min-height: 100%;
    }
body, div, form, input, select, textarea, label, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: rgb(44, 44, 44);
    z-index: 2;
    line-height: 83px;
    }
textarea {
    width: calc(100% - 12px);
    padding: 5px;
    resize: none;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
form {
    max-width: 40%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #aaacad; 
    }
 .banner {
    height: 100px;
    display: flex;
    align-items: center;
    }
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
input {
    width: calc(100% - 10px);
    padding: 5px;
    }

textarea {
    width: calc(100% - 12px);
    padding: 5px;
    }
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #19a8e6;
    color: #19a8e6;
    }
.item {
    position: relative;
    margin: 10px 0;
    }
.item span {
    color: red;
    }
.colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
.colums div {
    width:48%;
    }
.item i {
    right: 1%;
    top: 30px;
    z-index: 1;
    }    
.flax {
    display:flex;
    justify-content:space-around;
    }
.btn-block {
    margin-top: 10px;
    text-align: center;
    }
button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  #19a8e6;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
button:hover {
    background:  #9fcff0;
    }


@media (max-width: 1020px){
    form { max-width: 90%;
}
    h1 {
        font-size: 32px;
    }
}
@media (max-width: 460px){
    label {
        font-size: 13px;
    }
    form {
        max-width: 100%;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: 0 0 8px  #ebe8e8; 
    }
    .colums {
        flex-direction: column;
    }
    h1 {
        font-size: 26px;
    }
    .colums div {
        width:100%;
    }
    button {
        width: 120px;
        
    }
    .banner {
        height: 77px;
    }

}