/*TODO #4
First BP  985 × 856 

TODO #5*/

.container {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 6%;
    grid-template-rows: 63px 1fr;
    justify-items: center;
    align-items: center;
    height: inherit;
    }
.form {
    grid-column: 3 / 4;
    grid-row: 2/3;
    padding: 8px;
    margin-left: 8px;
}
form {
    max-width: 100%;
    padding: 20px;
    }
 .banner {
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    }

.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid #4D61FC;
    }
.item input:focus, .item select:focus, .item textarea:focus {
        border: 1px solid #4D61FC;
        }
.item {
    position: relative;
    margin: 10px 0;
    }
.item span {
    color: red;
    }
.colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
.colums div {
    width:48%;
    }
  
.btn-block {
    margin-top: 10px;

    }
button {
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background:  #4D61FC;
    font-size: 16px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: Roboto-Regular;
    }
button:hover {
    background:  #3644B1;
    }


@media (max-width: 1020px){
    form { max-width: 90%;
}
    h1 {
        font-size: 32px;
    }
}
@media (max-width: 460px){
    label {
        font-size: 13px;
    }
    form {
        max-width: 100%;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: 0 0 8px  #ebe8e8; 
    }
    .colums {
        flex-direction: column;
    }
    h1 {
        font-size: 26px;
    }
    .colums div {
        width:100%;
    }
    button {
        width: 120px;
        
    }
    .banner {
        height: 77px;
    }

}